<p id="notice"><%= notice %></p>

<h1 class="title">Pictures</h1>
<%= link_to "Genre", admin_genres_path, class:"another" %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class:"logout" %>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>画像</th>
      <th>Download</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.name %></td>
        <td><%= picture.genre %></td>
        <td><%= image_tag(read_path(picture, id: picture.id), alt: picture.name, :size => '40x40') %></td>
        <td><%= picture.download %></td>
        <td><%= link_to 'Show', [:admin, picture] %></td>
        <td><%= link_to 'Edit', edit_admin_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', [:admin, picture], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_admin_picture_path, class:"new-create" %>
