<div class="overlay"></div>
    <% @genre.pictures.each do |picture| %>
    <div class="pictSpace">
        <p id="source-name">
            <%= picture.name %>
        </p>
        <br>
        <%= image_tag "#{picture.url}", class: "source" %>
        <p>ダウンロード回数: <%= picture.download %></p>
        <%= form_tag(download_path, :method => 'post', id:"download") do %>
            <%= hidden_field_tag :id, picture.id %>
            <%= button_tag "ダウンロード", class: "download_button" %>
        <% end %>
    </div>
    <% end %>

<div class="sand">
    <h2>ダウンロードありがとうございます</h2>
    <p>引きつづきご利用の方お願いします</p>
    <p>またTwitterなどで当サイトを拡散してもらえるとモチベーションにもつながるのでぜひお願いします</p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<script>
    $('document').ready(()=>{
        $('.download_button').on('click', ()=> {
            $('.sand').fadeIn(1000);
            $('.overlay').fadeIn(1000);
        })
        $('.overlay').on('click', ()=> {
            $('.sand').fadeOut(1000);
            $('.overlay').fadeOut(1000);
        })
        $('.source').on('mouseover', (event) => {
            $(event.currentTarget).addClass('bigger');
        });
        $('.source').on('mouseleave', (event) => {
            $(event.currentTarget).removeClass('bigger');
        });
    })
</script>