<!DOCTYPE html>
<html>
  <head>
    <title>FreePicture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>黒髪美少女激推し劇場:管理者頁</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
          
      </header>
      <nav>
          
      </nav>
      <main>
          <%= yield %>
      </main>
  </body>
</html>
