<!DOCTYPE html>
<html>
  <head>
    <title>FreePicture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>黒髪美少女激推し劇場</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
          <%= render 'index/nav' %>
          <%= image_tag 'girltitle', class:"title" %>
      </header>
      <main>
          <%= yield %>
      </main>
  </body>
</html>
